/* Navbar.module.css */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4a90ec;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* gap-x-4 */
    height: 4rem; /* h-16 */
    font-size: 1.25rem; /* text-xl */
    font-weight: 700; /* font-bold */
    z-index: 50;
    margin-top: 1.5rem; /* mt-6 */
  }
  
  .navButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border: 2px solid #4b5563; /* border-2 border-gray-700 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: white; /* bg-white */
    margin-left: 0.5rem; /* mx-2 */
    margin-right: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
    transition: background-color 0.3s; /* transition */
  }
  
  .navButton:hover {
    background-color: #e5e7eb; /* hover:bg-gray-200 */
  }